/* 1 */

.container {
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    border-bottom: 1px dashed black;
}

.ex1_img {
    width: 500px;
}

.btn:hover {
    cursor: pointer;
}


