.container {
    width: min(100%, 1440px);
    margin: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

#searchInput {
    width: 250px;
    height: 30px;
}


.cards_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.card {
    padding: 10px;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(180, 178, 178);
    border-radius: 5px;
}

.img_wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.product_img {
    width: 80%;
}

.add_btn {
    border: none;
}

.add_btn:hover {
    cursor: pointer;
}

i {
    color: rgb(180, 178, 178);
}

i:hover {
    color: rgb(73, 73, 73);
    cursor: pointer;
}